<template>
  <span class="text-2xl font-bold pr-2">{{ product.price }}</span>
</template>
<script>
import productQuery from '@/apollo/queries/product/product'
export default {
  apollo: {
    product: {
      prefetch: true,
      query: productQuery,
      variables() {
        return { id: parseInt(this.$route.params.id) }
      }
    }
  }
}
</script>
