<template>
  <section>
    <h1>{{ collection.name }}</h1>
    <client-only>
      <Products :products="collection.products || []"></Products>
    </client-only>
    <div
      v-if="collection.description"
      v-html="$md.render(collection.description)"
    ></div>
  </section>
</template>

<script>
import productsQuery from '@/apollo/queries/product/products-collection'
import Products from '@/components/molecules/Products'

export default {
  transition: {
    name: 'bounce'
  },
  data() {
    return {
      collection: []
    }
  },
  components: {
    Products
  },
  apollo: {
    collection: {
      prefetch: true,
      query: productsQuery,
      variables() {
        return { id: parseInt(this.$route.params.id) }
      }
    }
  },
  head() {
    return {
      title: this.collection.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.collection.meta_description
        }
      ]
    }
  }
}
</script>
