<template>
  <section>
    <div class="flex pt-6 pb-12 items-start">
      <div class="cld-block w-5/12 p-4 flex items-center justify-center">
        <cld-image
          v-if="product.image"
          class="p-2"
          :publicId="product.image.provider_metadata.public_id"
          width="450"
          crop="scale"
        />
        <svg
          v-else
          xmlns="http://www.w3.org/2000/svg"
          height="100%"
          fill="none"
          viewBox="0 0 200 200"
        >
          <path
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.333 9.333a1 1 0 011-1h181.334a1 1 0 011 1v181.334a1 1 0 01-1 1H9.333a1 1 0 01-1-1V9.333z"
            clip-rule="evenodd"
          />
          <path
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M141.667 8.333L58.333 191.667M191.667 141.667L8.333 58.333"
          />
        </svg>
      </div>
      <div class="w-7/12 p-4">
        <p v-if="product.name" class="font-bold uppercase text-2xl pb-4">
          {{ product.name }}
          <!-- <span v-if="product.typeprefix" class="font-normal text-xs lowercase">
            / {{ product.typeprefix }
          </span> -->
        </p>
        <div class="flex items-start">
          <div
            class="pb-2 w-2/3"
            v-if="product.description"
            v-html="$md.render(product.description)"
          ></div>
          <div
            v-if="product.price"
            class="flex flex-wrap items-center justify-center pb-2 w-1/3"
          >
            <Price /> руб/
            <span v-if="product.unit == 'pcs'">шт.</span>
            <span v-if="product.unit == 'm2'">м²</span>
            <span v-if="product.unit == 'm3'">м³</span>
            <span v-if="product.unit == 'pkg'">уп.</span>
            <span v-if="product.unit == 'linem'">пог. м</span>
            <div class="w-full text-center mt-6 ">
              <button
                class="bg-black text-white rounded-full px-6 py-2 text-lg"
                onclick="ReplainAPI('open')"
              >
                Оформить заказ
              </button>
            </div>
          </div>
        </div>
        <div>
          <p class="pb-1 opacity-40 hover:opacity-100">
            <span class="">Артикул:</span> {{ product.sku }}
          </p>
          <p class="pb-1 opacity-40 hover:opacity-100">
            <span> Категория:</span>
            <nuxt-link
              v-if="product.category"
              :to="'/category/' + product.category.id"
            >
              {{ product.category.name }}
            </nuxt-link>
          </p>
          <p class="pb-1 opacity-40 hover:opacity-100">
            <span class="">Входит в коллекции:</span>
            <span
              v-for="collection in product.collections"
              :key="collection.id"
              class="collections"
            >
              <nuxt-link :to="'/collection/' + collection.id">
                {{ collection.name }}
              </nuxt-link>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- <p>{{ product }}</p> -->
    <!-- <div class="flex flex-col" v-if="product.category.products">
      <span class="py-4">Другие товары из категории</span>
      <div v-for="productCat in product.category.products" :key="productCat.id">
        <nuxt-link :to="'/product/' + productCat.id">
          {{ productCat.name }}
        </nuxt-link>
      </div>
      <span class="py-4">Другие товары из коллекции</span>
      <nuxt-link class="py-4" to="/">назад</nuxt-link>
    </div> -->
  </section>
</template>

<script>
import Price from '@/components/atoms/product/Price'
import productQuery from '@/apollo/queries/product/product'
// var moment = require('moment')

export default {
  transition: {
    name: 'bounce'
  },
  components: {
    Price
  },
  data() {
    return {
      product: [],
      // moment: moment,
      api_url: process.env.API_URL
    }
  },
  apollo: {
    product: {
      prefetch: true,
      query: productQuery,
      variables() {
        return { id: parseInt(this.$route.params.id) }
      }
    }
  },
  head() {
    return {
      title: this.product.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.product.meta_description
        }
      ]
    }
  }
}
</script>
<style lang="postcss" scoped>
/* img {
  width: 20rem;
} */
/* .cld-block {
  @apply block;
  min-width: 450px;
  min-height: 450px;
} */
/* .collections a::after {
  margin-left: -4px;
  content: ',';
  width: 2px;
  height: 2px;
 } */
/* .collections:last-child a::after {
  content: '';
} */
</style>
