<template>
  <section>
    <div class="flex pb-12">
      <div
        v-for="product in products"
        :key="product.slug"
        class="cld-block w-1/2 flex items-center justify-center"
      >
        <cld-image
          v-if="product.image"
          :publicId="product.image.provider_metadata.public_id"
          width="450"
          crop="scale"
        />
        <span v-else/>
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="none" viewBox="0 0 200 200">
          <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" d="M8.333 9.333a1 1 0 011-1h181.334a1 1 0 011 1v181.334a1 1 0 01-1 1H9.333a1 1 0 01-1-1V9.333z" clip-rule="evenodd"/>
          <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" d="M141.667 8.333L58.333 191.667M191.667 141.667L8.333 58.333"/>
          </svg>
        </span>
      </div>
      <div class="w-1/2">
        <p v-if="product.name" class="font-bold uppercase text-2xl pb-4">
          {{ product.name }}
        </p>
        <div
          class="pb-4"
          v-if="product.description"
          v-html="$md.render(product.description)"
        ></div>
        <p v-if="product.price" class="flex items-center pb-2 my-4">
          <Price /> руб/
          <span v-if="product.unit == 'pcs'">шт.</span>
          <span v-if="product.unit == 'm2'">м²</span>
          <span v-if="product.unit == 'm3'">м³</span>
          <span v-if="product.unit == 'pkg'">уп.</span>
          <span v-if="product.unit == 'linem'">пог. м</span>
        </p>
        <p class="pb-4">
          <span class="font-bold">Артикул:</span> {{ product.sku }}
        </p>
        <p class="pb-4">
          <span class="font-bold"> Категория:</span>
          <nuxt-link
            v-if="product.category"
            :to="'/category/' + product.category.id"
          >
            {{ product.category.name }}
          </nuxt-link>
        </p>
        <p>
          <span class="font-bold">Входит в коллекции:</span>
          <span
            v-for="collection in product.collections"
            :key="collection.id"
            class="collections"
          >
            <nuxt-link :to="'/collection/' + collection.id">
              {{ collection.name }}
            </nuxt-link>
          </span>
        </p>
      </div>
    </div>
    <!-- <p>{{ product }}</p> -->
    <!-- <div class="flex flex-col" v-if="product.category.products">
      <span class="py-4">Другие товары из категории</span>
      <div v-for="productCat in product.category.products" :key="productCat.id">
        <nuxt-link :to="'/product/' + productCat.id">
          {{ productCat.name }}
        </nuxt-link>
      </div>
      <span class="py-4">Другие товары из коллекции</span>
      <nuxt-link class="py-4" to="/">назад</nuxt-link>
    </div> -->
  </section>
</template>

<script>
import Price from '@/components/atoms/product/Price'
import productQuery from '@/apollo/queries/product/product'
// var moment = require('moment')

export default {
  transition: {
    name: 'bounce'
  },
  components: {
    Price
  },
  data() {
    return {
      products: {},
      // moment: moment,
      api_url: process.env.API_URL
    }
  },
  apollo: {
    products: {
      prefetch: true,
      query: productQuery,
      variables() {
        const params = this.$route.params
        return {
          slug: params.slug
        }
      }
    }
  },
  head() {
    return {
      // title: this.product.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description'
          // content: this.product.meta_description
        }
      ]
    }
  }
}
</script>
<style lang="postcss" scoped>
img {
  width: 20rem;
}
.cld-block {
  @apply block;
  min-width: 450px;
  min-height: 450px;
}
.collections a::after {
  margin-left: -4px;
  content: ',';
  /* width: 2px; */
  /* height: 2px; */
}
.collections:last-child a::after {
  content: '';
}
</style>
