<template>
  <section class="mx-auto">
    <h1>{{ category.name }}</h1>
    <client-only>
      <Products :products="category.products || []"></Products>
    </client-only>
    <div
      v-if="category.description"
      v-html="$md.render(category.description)"
    ></div>
  </section>
</template>

<script>
import productsQuery from '~/apollo/queries/product/products-category'
import Products from '~/components/molecules/Products'

export default {
  transition: {
    name: 'bounce'
  },
  data() {
    return {
      category: []
    }
  },
  components: {
    Products
  },
  apollo: {
    category: {
      prefetch: true,
      query: productsQuery,
      variables() {
        return { id: parseInt(this.$route.params.id) }
      }
    }
  },
  head() {
    return {
      title: this.category.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.category.meta_description
        }
      ]
    }
  }
}
</script>
