<template>
  <section>
    <h2 class="pb-2 font-bold uppercase text-center text-4xl pb-4">
      Работы
    </h2>
    <Works :works="works"></Works>
  </section>
</template>

<script>
import worksQuery from '@/apollo/queries/work/works'
import Works from '@/components/molecules/Works'

export default {
  data() {
    return {
      works: []
    }
  },
  components: {
    Works
  },
  apollo: {
    works: {
      prefetch: true,
      query: worksQuery,
      variables() {
        return { id: this.$route.params.id, limit: 24 }
      },
      fetchPolicy: 'cache-and-network'
    }
  }
}
</script>
