<template>
  <main>
    <Products :products="products"></Products>
  </main>
</template>

<script>
import productsQuery from '@/apollo/queries/product/products'
import Products from '@/components/molecules/Products'

export default {
  data() {
    return {
      products: []
    }
  },
  components: {
    Products
  },
  apollo: {
    products: {
      prefetch: true,
      query: productsQuery,
      variables() {
        return { slug: this.$route.params.slug, limit: 24 }
      },
      fetchPolicy: 'cache-and-network'
    }
  }
}
</script>
