<template>
  <section class="pb-24 w-full max-w-full px-0 mx-0">
    <h2 class="font-bold uppercase text-center text-4xl pb-4">
      Коллекции
    </h2>
    <div class="flex flex-col">
      <div v-for="collection in collections" :key="collection.id">
        <nuxt-link
          :to="{ name: 'collection-id', params: { id: collection.id } }"
        >
          <div class="bg-black relative" v-if="collection.image">
            <span
              class="duration-300 opacity-30 hover:opacity-100 transition-all"
            >
              <cld-image
                :publicId="collection.image.provider_metadata.public_id"
                class="w-full"
                crop="scale"
              />
            </span>
            <span
              class="collection-name absolute top-0 left-0 text-white font-bold pl-16 pr-4 py-1 my-8 text-2xl uppercase bg-black"
              >{{ collection.name }}</span
            >
          </div>
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import collectionsQuery from '@/apollo/queries/collection/collections'
export default {
  data() {
    return {
      collections: []
    }
  },
  apollo: {
    collections: {
      prefetch: true,
      query: collectionsQuery
    }
  }
}
</script>
<style lang="postcss">
h1 {
  @apply uppercase text-2xl font-bold pl-4 pb-6;
}
/* .collection-name::before {
  @apply bg-white absolute my-auto top-0 bottom-0;
  content: '';
  height: 5px;
  width: 2rem;
  margin-left: -2.8rem;
} */
</style>
