<template>
  <section class="py-24">
    <!-- <h2 class="pb-2 font-bold uppercase text-center text-4xl pt-8 pb-4">
      Категории товаров
    </h2> -->
    <div class="flex">
      <div
        v-for="category in categories"
        :key="category.id"
        class="pr-8 text-xs"
      >
        <nuxt-link
          :to="{ name: 'category-id', params: { id: category.id } }"
          class="bg-link flex flex-col items-center relative"
        >
          <div v-if="category.image">
            <cld-image
              :publicId="category.image.provider_metadata.public_id"
              width="350"
              crop="scale"
            />
          </div>
          <span
            class="text-white absolute top-0 bottom-0 my-auto text-xl flex items-center uppercase px-8 text-center"
            >{{ category.name }}</span
          >
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import categoriesQuery from '@/apollo/queries/category/categories'
export default {
  data() {
    return {
      categories: []
    }
  },
  apollo: {
    categories: {
      prefetch: true,
      query: categoriesQuery
    }
  }
}
</script>
<style lang="postcss">
/* h1 {
  @apply uppercase text-2xl font-bold pl-4 pb-6;
} */
h2 {
  font-size: 2.5rem;
}
section {
  @apply mx-auto px-4;
  max-width: 1200px;
}
bg-link {
  background: rgba(0, 0, 0, 0.56);
}
</style>
