<template>
  <header>
    <section class="flex items-center justify-between mx-auto relative">
      <nuxt-link to="/">
        <Logo />
      </nuxt-link>
      <Navigation class="flex px-8 text-lg" />
      <Phone class="text-lg font-bold" />
    </section>
  </header>
</template>
