<template>
  <section>
    <h1>{{ work.name }}</h1>
    <div class="flex pb-12 flex-wrap">
      <!-- {{ work }} -->
      <div v-for="photo in work.gallery" :key="photo.id" class="w-1/4 p-2">
        <img :src="photo.url" class="w-1/4" />
      </div>
      <!-- <div
        v-if="work.image"
        class="cld-block w-1/2 flex items-center justify-center"
      >
        <cld-image
          :publicId="work.image.provider_metadata.public_id"
          width="450"
          crop="scale"
        />
      </div> -->
      <div class="w-1/2" v-if="work.image">
        <div
          class="pb-4"
          v-if="work.description"
          v-html="$md.render(work.description)"
        ></div>
      </div>
    </div>
  </section>
</template>

<script>
import workQuery from '@/apollo/queries/work/work'
// var moment = require('moment')

export default {
  transition: {
    name: 'bounce'
  },
  data() {
    return {
      work: [],
      // moment: moment,
      api_url: process.env.API_URL
    }
  },
  apollo: {
    work: {
      prefetch: true,
      query: workQuery,
      variables() {
        return { id: parseInt(this.$route.params.id) }
      }
    }
  },
  head() {
    return {
      title: this.work.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.work.meta_description
        }
      ]
    }
  }
}
</script>
<style lang="postcss" scoped>
img {
  width: 20rem;
}
.cld-block {
  @apply block;
  min-width: 450px;
  min-height: 450px;
}
.collections a::after {
  margin-left: -4px;
  content: ',';
  /* width: 2px; */
  /* height: 2px; */
}
</style>
