<template>
  <svg
    width="162"
    height="60"
    viewBox="0 0 162 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M80.9114 24.7505C85.3494 24.7505 88.5028 22.4108 88.5028 18.4624C88.5028 14.1339 85.0283 13.0518 81.9333 12.1158C78.7508 11.1507 78.2545 10.5073 78.2545 9.57136C78.2545 8.75245 78.9844 8.02127 80.4443 8.02127C82.3129 8.02127 83.2764 8.92793 83.9772 10.3903L87.9188 8.07977C86.4298 5.06733 83.802 3.45874 80.4443 3.45874C76.9114 3.45874 73.5829 5.74001 73.5829 9.68835C73.5829 13.6074 76.561 15.0698 79.5975 15.918C82.6633 16.7661 83.8312 17.2633 83.8312 18.5209C83.8312 19.3106 83.2764 20.188 81.0574 20.188C78.7508 20.188 77.4953 19.0474 76.7654 17.3511L72.7361 19.6908C73.8748 22.7033 76.6194 24.7505 80.9114 24.7505ZM103.819 3.8682L88.6362 3.8682V8.37224H93.8918V24.3411H98.5632V8.37224H103.819V3.8682ZM114.447 24.7505C120.315 24.7505 125.075 20.1295 125.075 14.1046C125.075 8.07977 120.315 3.45874 114.447 3.45874C108.578 3.45874 103.819 8.07977 103.819 14.1046C103.819 20.1295 108.578 24.7505 114.447 24.7505ZM114.447 20.188C111.118 20.188 108.49 17.7605 108.49 14.1046C108.49 10.4488 111.118 8.02127 114.447 8.02127C117.775 8.02127 120.403 10.4488 120.403 14.1046C120.403 17.7605 117.775 20.188 114.447 20.188ZM139.092 3.8682V14.9821L131.209 3.8682H127.705V24.3411H132.377V13.2272L140.26 24.3411H143.764V3.8682L139.092 3.8682ZM151.937 19.8371V16.2104L159.236 16.2104V11.7649L151.937 11.7649V8.37224H159.966V3.8682L147.265 3.8682V24.3411H160.112V19.8371H151.937Z"
      fill="#C4C748"
    />
    <path
      d="M80.7926 53.838C85.2306 53.838 88.3839 51.4982 88.3839 47.5499C88.3839 43.2213 84.9094 42.1392 81.8145 41.2033C78.632 40.2381 78.1356 39.5947 78.1356 38.6588C78.1356 37.8398 78.8656 37.1087 80.3254 37.1087C82.1941 37.1087 83.1576 38.0153 83.8583 39.4777L87.8 37.1672C86.3109 34.1547 83.6831 32.5461 80.3254 32.5461C76.7925 32.5461 73.464 34.8274 73.464 38.7758C73.464 42.6949 76.4422 44.1572 79.4787 45.0054C82.5445 45.8535 83.7124 46.3507 83.7124 47.6083C83.7124 48.398 83.1576 49.2754 80.9386 49.2754C78.632 49.2754 77.3765 48.1348 76.6466 46.4385L72.6173 48.7782C73.756 51.7907 76.5006 53.838 80.7926 53.838ZM103.7 32.9556H88.5174V37.4596H93.7729V53.4285H98.4445V37.4596H103.7V32.9556ZM114.328 53.838C120.197 53.838 124.956 49.2169 124.956 43.192C124.956 37.1672 120.197 32.5461 114.328 32.5461C108.459 32.5461 103.7 37.1672 103.7 43.192C103.7 49.2169 108.459 53.838 114.328 53.838ZM114.328 49.2754C110.999 49.2754 108.372 46.8479 108.372 43.192C108.372 39.5362 110.999 37.1087 114.328 37.1087C117.656 37.1087 120.284 39.5362 120.284 43.192C120.284 46.8479 117.656 49.2754 114.328 49.2754ZM138.331 53.4285H143.353L139.003 45.912C141.251 44.7714 142.769 42.4901 142.769 39.9749C142.769 36.085 139.645 32.9556 135.762 32.9556H127.586V53.4285H132.258V46.7017H134.477L138.331 53.4285ZM132.258 37.3427H135.762C137.046 37.3427 138.097 38.4833 138.097 39.9749C138.097 41.4665 137.046 42.6071 135.762 42.6071H132.258V37.3427ZM161.622 32.9556H156.308L152.425 40.8523L148.541 32.9556H143.227L150.089 45.5611V53.4285L154.76 53.4285V45.5611L161.622 32.9556Z"
      class="logo-color"
    />
    <path
      d="M31.8346 0L17.949 13.9091L31.8346 27.8183L45.7201 13.9091L31.8346 0Z"
      fill="#C4C748"
    />
    <path
      d="M53.7806 13.9788L39.8949 27.8879L53.7806 41.7972L67.666 27.8879L53.7806 13.9788Z"
      fill="#C4C748"
    />
    <path
      d="M13.8856 17.9792L0 31.8884L13.8856 45.7975L27.7712 31.8884L13.8856 17.9792Z"
      class="logo-color"
    />
    <path
      d="M35.8338 31.9546L21.9482 45.8636L35.8338 59.7729L49.7193 45.8636L35.8338 31.9546Z"
      class="logo-color"
    />
  </svg>
</template>
<style lang="postcss">
.homepage .logo-color {
  fill: #ffffff;
}
.logo-color {
  fill: #000;
}
</style>
