<template>
  <ul>
    <li>
      <nuxt-link to="/catalog/">О нас</nuxt-link>
    </li>
    <CatalogLink />
    <CollectionsLink />
    <li>
      <nuxt-link to="/services/">Услуги</nuxt-link>
    </li>
    <li>
      <nuxt-link to="/works/">Работы</nuxt-link>
    </li>
    <li>
      <nuxt-link to="/contacts/">Контакты</nuxt-link>
    </li>
  </ul>
</template>
<style lang="postcss" scoped>
ul > li {
  @apply px-6 py-4;
}
</style>
<script>
import categoriesQuery from '@/apollo/queries/category/categories'
import collectionsQuery from '@/apollo/queries/collection/collections'
export default {
  data() {
    return {
      categories: [],
      collections: []
    }
  },
  apollo: {
    categories: {
      prefetch: true,
      query: categoriesQuery
    },
    collections: {
      prefetch: true,
      query: collectionsQuery
    }
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href: process.env.APP_URL + this.$route.path
        }
      ]
    }
  }
}
</script>
