<template>
  <div class="flex flex-col leading-tight">
    <a href="tel:+375291807525">+375 29 180-75-25</a>
    <span class="font-normal lowercase text-right text-xs"
      >Консультация / Прием заказов</span
    >
  </div>
</template>
