<template>
  <div class="flex flex-wrap w-full">
    <div
      v-for="product in products"
      class="w-full md:w-1/4 p-4"
      :key="product.id"
    >
      <nuxt-link :to="{ name: 'product-id', params: { id: product.id } }">
        <div>
          <!-- Local storage -->
          <!-- <img :src="api_url + product.image.url" alt height="100" /> -->
          <img
            v-if="product.image"
            :src="product.image.url"
            :alt="product.category.name + ' «' + product.name + '»'"
            :title="product.category.name + ' «' + product.name + '»'"
          />

          <svg
            v-else
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            fill="none"
            viewBox="0 0 200 200"
          >
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.333 9.333a1 1 0 011-1h181.334a1 1 0 011 1v181.334a1 1 0 01-1 1H9.333a1 1 0 01-1-1V9.333z"
              clip-rule="evenodd"
            />
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M141.667 8.333L58.333 191.667M191.667 141.667L8.333 58.333"
            />
          </svg>
        </div>
        <div>
          <p>{{ product.name }}</p>
          <p v-if="product.price" class="flex">
            {{ product.price }} руб/
            <span v-if="product.unit == 'pcs'">шт.</span>
            <span v-if="product.unit == 'm2'">м²</span>
            <span v-if="product.unit == 'm3'">м³</span>
            <span v-if="product.unit == 'pkg'">уп.</span>
            <span v-if="product.unit == 'linem'">пог. м</span>
          </p>
          <p>{{ product.category.name }}</p>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import productsQuery from '@/apollo/queries/product/products'
export default {
  data() {
    return {
      api_url: process.env.API_URL
    }
  },
  props: {
    products: Array
  }
}
</script>
