<template>
  <div class="flex flex-wrap w-full">
    <div
      v-for="product in products"
      class="w-full md:w-1/3 p-4"
      :key="product.slug"
    >
      <nuxt-link :to="{ name: 'product-slug', params: { slug: product.slug } }">
        <div v-if="product.image">
          <!-- Local storage -->
          <!-- <img :src="api_url + product.image.url" alt height="100" /> -->
          <!-- <img
            :src="product.image.url"
            :alt="product.category.name + ' «' + product.name + '»'"
            :title="product.category.name + ' «' + product.name + '»'"
          />-->

          <cld-image
            v-if="product.image.provider_metadata.public_id"
            :publicId="product.image.provider_metadata.public_id"
            width="300"
            crop="scale"
          />
        </div>
        <div>
          <p>{{ product.name }}</p>
          <p v-if="product.price" class="flex">
            {{ product.price }} руб/
            <span v-if="product.unit == 'pcs'">шт.</span>
            <span v-if="product.unit == 'm2'">м²</span>
            <span v-if="product.unit == 'm3'">м³</span>
            <span v-if="product.unit == 'pkg'">уп.</span>
            <span v-if="product.unit == 'linem'">пог. м</span>
          </p>
          <p>{{ product.category.name }}</p>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import productsQuery from '@/apollo/queries/product/products'
export default {
  data() {
    return {
      api_url: process.env.API_URL
    }
  },
  props: {
    products: Array
  }
}
</script>
