<template>
  <div class="flex flex-wrap w-full">
    <div v-for="work in works" class="w-full md:w-1/3 p-4" :key="work.id">
      <nuxt-link :to="{ name: 'work-id', params: { id: work.id } }">
        <div v-if="work.image">
          <!-- Local storage -->
          <!-- <img :src="api_url + work.image.url" alt height="100" /> -->
          <!-- <img
            :src="work.image.url"
            :alt="work.category.name + ' «' + work.name + '»'"
            :title="work.category.name + ' «' + work.name + '»'"
          />-->

          <cld-image
            v-if="work.image.provider_metadata.public_id"
            :publicId="work.image.provider_metadata.public_id"
            width="300"
            crop="scale"
          />
        </div>
        <div>
          <p>{{ work.name }}</p>
          <!-- <p v-if="work.price" class="flex">
            {{ work.price }} руб/
            <span v-if="work.unit == 'pcs'">шт.</span>
            <span v-if="work.unit == 'm2'">м²</span>
            <span v-if="work.unit == 'm3'">м³</span>
            <span v-if="work.unit == 'pkg'">уп.</span>
            <span v-if="work.unit == 'linem'">пог. м</span>
          </p>
          <p>{{ work.category.name }}</p> -->
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import worksQuery from '@/apollo/queries/work/works'
export default {
  data() {
    return {
      api_url: process.env.API_URL
    }
  },
  props: {
    works: Array
  }
}
</script>
