<template>
  <section>
    <HomeProducts />
  </section>
</template>

<script>
import HomeProducts from '@/components/organisms/HomeProducts'
export default {
  transition: {
    name: 'bounce'
  },
  components: {
    HomeProducts
  }
}
</script>
