<template>
  <section>
    <HomeProducts />
  </section>
</template>

<script>
import HomeProducts from '@/components/organisms/HomeProducts'
import HomeCategories from '@/components/organisms/HomeCategories'
import HomeCollections from '@/components/organisms/HomeCollections'
import HomeWorks from '@/components/organisms/HomeWorks'
export default {
  transition: {
    name: 'bounce'
  },
  components: {
    HomeProducts,
    HomeCategories,
    HomeCollections,
    HomeWorks
  }
}
</script>
