<template>
  <section
    v-lazy:background-image.container="firstbgUrl"
    class="h-screen bg-black w-full flex flex-wrap items-center justify-center"
  >
    <div class="text-center pt-24">
      <h1 class="text-2xl">
        <client-only>
          <VueTyper
            :text="words"
            :repeat="0"
            :type-delay="70"
            initial-action="erasing"
            caret-animation="smooth"
            class="md:inline custom char"
          />
        </client-only>
        <br />
        в Жлобине
      </h1>
      <div
        class="w-full flex-wrap md:flex-nowrap flex justify-center plus text-lg pt-2"
      >
        <span class="leading-tight py-2 md:py-0">Собственное производство</span>
        <span class="leading-tight py-2 md:py-0">Услуги дизайна и монтажа</span>
        <span class="leading-tight py-2 md:py-0"
          >Индивидуальные формы под заказ</span
        >
      </div>
    </div>
    <div class="w-full flex justify-center">
      <a href="/#projects" v-scroll-to="'#projects'">Примеры работ</a>
    </div>
  </section>
</template>
<style lang="postcss" scoped>
section {
  @apply max-w-full text-white;
}
h1 {
  font-size: 3rem;
}
.plus span:after {
  @apply px-3;
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.65686' width='8' height='8' transform='rotate(45 5.65686 0)' fill='white'/%3E%3C/svg%3E%0A");
  transform: rotate(-45deg);
}
.plus span:first-child:before {
  @apply px-3;
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.65686' width='8' height='8' transform='rotate(45 5.65686 0)' fill='white'/%3E%3C/svg%3E%0A");
  transform: rotateX(-45deg);
}
.plus span:nth-child(2):before,
.plus span:nth-child(3):before {
  @apply px-3;
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.65686' width='8' height='8' transform='rotate(45 5.65686 0)' fill='white'/%3E%3C/svg%3E%0A");
}

@screen md {
  .plus span:nth-child(2):before,
  .plus span:nth-child(3):before {
    content: none !important;
    padding: 0;
  }
}
</style>
<style>
.vue-typer .custom.char {
  color: #e4e4e4;
}
.vue-typer .custom.char.typed {
  color: #c4c748;
}
.vue-typer .custom.char.selected {
  background-color: #f8faa05b;
}
</style>
<script>
if (process.browser) {
  // eslint-disable-next-line no-var
  var VueTyper = require('vue-typer').VueTyper
}
const words = [
  'Декоративный камень',
  'Декоративные элементы',
  'Молдинги из гипса',
  '3D-панели под заказ',
  'Декоративный камень'
]
export default {
  components: { VueTyper },
  data() {
    return {
      words,
      firstbgUrl: '/img/bg_slider_1.jpg'
    }
  }
}
</script>
