<template>
  <li class="dropdown" @mouseleave="hover = false">
    <nuxt-link
      @mouseover.native="hover = true"
      @click.native="hover = false"
      to="/catalog/"
      >Каталог</nuxt-link
    >
    <transition name="swing-in-top-fwd">
      <ul
        class="flex flex-wrap submenu"
        v-if="hover"
        :class="{ active: hover }"
      >
        <li
          v-for="category in categories"
          class="pr-8 text-lg w-1/4 py-1"
          :key="category.id"
          v-on:click="hover = false"
        >
          <nuxt-link
            :to="{ name: 'category-id', params: { id: category.id } }"
            class="text-black"
          >
            <div v-if="category.image">
              <cld-image
                :publicId="category.image.provider_metadata.public_id"
                width="350"
                crop="scale"
              />
            </div>
            {{ category.name }}</nuxt-link
          >
        </li>
      </ul>
    </transition>
  </li>
</template>
<script>
import categoriesQuery from '@/apollo/queries/category/categories'
export default {
  data() {
    return {
      categories: [],
      hover: false
    }
  },
  apollo: {
    categories: {
      prefetch: true,
      query: categoriesQuery
    }
  }
}
</script>
<style lang="postcss" scoped>
.dropdown .nav_link {
  @apply p-4 opacity-100;
}
.dropdown .nav_link a:hover {
  @apply opacity-50;
}
.submenu li:hover .submenu_link_title {
  @apply text-indigo-700;
}
.submenu {
  @apply mt-3 py-8 absolute right-0 z-50 flex flex-wrap left-0 pl-8 pr-8 w-full;
  width: 76rem;
  /* margin-left: -13rem; */
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 1);
  z-index: 50;
}
.swing-in-top-fwd-enter-active {
  animation: swing-in-top-fwd 0.3s;
}
.swing-in-top-fwd-leave-active {
  animation: swing-in-top-fwd 0.1s reverse;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
</style>