<template>
  <li class="dropdown relative" @mouseleave="hover = false">
    <nuxt-link
      to="/collections/"
      @mouseover.native="hover = true"
      @click.native="hover = false"
      >Коллекции</nuxt-link
    >
    <transition name="swing-in-top-fwd">
      <ul
        class="flex flex-wrap submenu"
        v-if="hover"
        :class="{ active: hover }"
      >
        <li
          v-for="collection in collections"
          class="pr-8 text-xs w-1/4 py-1"
          :key="collection.id"
          v-on:click="hover = false"
        >
          <nuxt-link
            :to="{ name: 'collection-id', params: { id: collection.id } }"
            tag="a"
            >{{ collection.name }}</nuxt-link
          >
        </li>
      </ul>
    </transition>
  </li>
</template>
<script>
import collectionsQuery from '@/apollo/queries/collection/collections'
export default {
  data() {
    return {
      collections: [],
      hover: false
    }
  },
  apollo: {
    collections: {
      prefetch: true,
      query: collectionsQuery
    }
  }
}
</script>
<style lang="postcss" scoped>
.dropdown .nav_link {
  @apply p-4 opacity-100;
}
.dropdown .nav_link a:hover {
  @apply opacity-50;
}
.submenu li:hover .submenu_link_title {
  @apply text-indigo-700;
}
.submenu {
  @apply absolute left-0 right-0 mt-3 py-8 z-50 flex flex-wrap absolute bg-white pl-8 pr-8 w-full;
  width: 76rem;
  margin-left: -13rem;
  box-shadow: 2px 0px 75px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  z-index: 50;
}
.swing-in-top-fwd-enter-active {
  animation: swing-in-top-fwd 0.3s;
}
.swing-in-top-fwd-leave-active {
  animation: swing-in-top-fwd 0.1s reverse;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
</style>